{% extends 'base.html' %}
{% load mytags %}


{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> 脚本变量设置 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="panel blank-panel">
                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li id="tab1" class="active"><a data-toggle="tab" href="#tab-default" aria-expanded="true">设置</a></li>
{#                                      <li id="tab2" class=""><a data-toggle="tab" href="#tab-email" aria-expanded="true">邮箱设置</a></li>#}
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="tab-content">

                                    <div id="tab-default" class="tab-pane active">
                                        <!--------------------------start------------------------>
                                        <div class="ibox-content">
                                            {% if emg %}
                                                <div class="alert alert-warning text-center">{{ emg }}</div>
                                            {% endif %}
                                            {% if smg %}
                                                <div class="alert alert-success text-center">{{ smg }}</div>
                                            {% endif %}


                                            <form id="assetForm" method="post" class="form-horizontal">

                                                    <div class="form-group" >
                                                        <div class="hr-line-dashed"></div>
                                                        <label class="col-sm-2 control-label"> 变量名<span class="red-fonts">*</span> </label>
                                                        <div class="col-sm-8">
                                                            <select id="var_name" name="var_name" class="form-control m-b input-sm">
                                                                <option value="">请选择一个变量</option>
                                                                {% for obj in objs %}
                                                                    <option value="{{obj.name}}"> {{obj.name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <input id="asset_id" type="hidden" value="{{asset.id}}"/>
                                                            <a id="load_var_btn" class="btn btn-primary"> 加载 </a>
                                                            <a id="del_var_btn" class="btn btn-warning"> 删除此变量 </a>
                                                            <span id="del_info" style="color:red;"> <span>
                                                            <br>
                                                            <br>

                                                            <input id="new_var_name" class="col-sm-3 m-b input-sm" type="text" value=""/>
                                                            <a id="create_new_btn" class="btn btn-primary"> 新建变量名 </a>
                                                            <span id="add_info" style="color:red;"> <span>

                                                        </div>
                                                    </div>


                                                <div class="hr-line-dashed"></div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"> 变量值<span class="red-fonts">*</span> </label>

                                                    <div class="col-sm-8">
                                                        <textarea id="var_value" class="form-control" rows="15"></textarea>
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-1">
                                                        <a id="save_var_btn" class="btn btn-success"> 保存变量值 </a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a>  </a>
                                                    </div>
                                                </div>

                                            </form>


                                        </div>
                                        <!--------------------------end-------------------------->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block self_footer_js %}
    <script>

    // create new
    $("#create_new_btn").click(function(e) {
        var new_var_name = $('#new_var_name').val();

        $.get("{%url 'add_new_var_name'%}?new_var_name=" + new_var_name, function(result){
            //alert(result);
            $("#add_info").html(result);
            location.reload();
        });

        return;
    });

    // del_var_btn
    $("#del_var_btn").click(function(e) {
        var var_name = $('#var_name').val();
        // alert(var_name);
        if (confirm('确定要删除此变量吗？')) {

        } else {
            return;
        }

        $.get("{%url 'del_var_name'%}?var_name=" + var_name, function(result){
            alert(result);
            $("#del_info").html(result);
            location.reload();
        });

        return;
    });

    // 点击加载模板时
    $("#load_var_btn").click(function(e) {
        var var_name = $('#var_name').val();
      $.get("{%url 'load_var'%}?var_name=" + var_name, function(result){
        $("#var_value").val(result);
      });
        return;
    });

    // 保存var
    $("#save_var_btn").click(function(e) {
        var var_name = $('#var_name').val();
        var var_value = $('#var_value').val();
        if (var_name == '') {
            alert('var name is empty !');
            return;
        }
        if (var_value == '') {
            alert('value is empty !');
            return;
        }

        var params = {
            var_name: var_name,
            var_value: var_value,
        };
        $.post("{%url 'update_var_value'%}", params, function(res){
            alert(res);
        });
    });
    </script>
{% endblock %}