<div id="{{container_tcp_id}}" style="min-width:700px;height:400px"></div>

<script>

    $('#{{container_tcp_id}}').highcharts({
        chart: {
            zoomType: 'x',
            spacingRight: 20
        },
        exporting: {
            enabled: true
        },
        title: {
            text: '{{title}}'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                '在图形中按住鼠标拖拽以查看细节' :
                'Pinch the chart to zoom in'
        },
        xAxis: {
            gridLineColor:'gray',
            gridLineWidth: 1,
            type: 'datetime',
            maxZoom: {{milli_seconds}}, // 24 *2  * 3600*1000, //default show 2 days
            title: {
                text: null
            }
        },
        yAxis: {
            gridLineColor:'gray',
            gridLineWidth: 1,
            title: {
                text: '连接数量'
            }
        },
        tooltip: {
            shared: true
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                lineWidth: 1,
                marker: {
                    enabled: false
                },
                shadow: false,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: '数量',
            pointInterval: 600 * 1000,  // 5 minutes
            //pointStart: Date.UTC(2016, 4, 28),
            pointStart: Date.UTC({{date_start_list}}),
            data: [
                {{data_list}}
            ]
        }]
    });

</script>



