{% extends 'base.html' %}
{% load mytags %}
{% load humanize %}


{% block self_head_css_js %}
    <style>
        .treeview {
            max-height: 700px;
            overflow-y: scroll;
        }
        .treeview .list-group-item{cursor:pointer}
        .treeview span.indent{margin-left:10px;margin-right:10px}
        .treeview span.icon{width:12px;margin-right:5px}
        .treeview .node-disabled{color:silver;cursor:not-allowed}


    </style>
    <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>

    <script src="/static/js/bootstrap-treeview.js"></script>
{% endblock %}


{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">


    <!-- new added -->
    <div class="row">
        <div class="col-sm-3">
            <div id="tree1"></div>
        </div>

        <div class="col-sm-7 col-sm-offset-1">

            <div id="graph_list"> </div>

        </div>

	<script>


      $.getJSON("/jmonitor/graph/get_tree/",function(result) {
        $('#tree1').treeview({
          data: result,
          //collapseAll: { silent: true },
          onNodeSelected: function(event, data) {

            var name = data.text;
            if (name.indexOf('资产组') > -1) {
                // alert('资产组:' + name );
            } else if (name.indexOf('分组') > -1) {
                alert('分组:' + name );
                $("#graph_list").html('');

                // 先获取出相应分组的所有ip，然后依次取出流量图
                $.getJSON("/jmonitor/graph/get_assets_by_gp1/?gp1="+name,function(ass_ip_list) {
                    for (var i in ass_ip_list) {
                          var ip = ass_ip_list[i];
                          alert('开始获取ip:' + ip);
                          $.get("/jmonitor/graph/get_graph_html/?t=asset&t1=ifdata&ip=" + name, function(result){
                            alert('获取结果是:' + result);
                            $("#graph_list").append(result);
                            $("#graph_list").append('<br>');
                            alert('add succ');
                          });
                    }
                });
            } else {

                  $("#graph_list").html('');

                  // alert('asset:' + name);
                  // tcp
                  $.get("/jmonitor/graph/get_graph_html/?t=asset&t1=tcp&ip=" + name, function(result){
                    // alert(result);
                    $("#graph_list").append(result);
                    $("#graph_list").append('<br>');
                    // alert('add succ');
                  });

                  // disk_usage
                  $.get("/jmonitor/graph/get_graph_html/?t=asset&t1=disk_usage&ip=" + name, function(result){
                    $("#graph_list").append(result);
                    $("#graph_list").append('<br>');
                  });

                  // ifdata
                  $.get("/jmonitor/graph/get_graph_html/?t=asset&t1=ifdata&ip=" + name, function(result){
                    $("#graph_list").append(result);
                    $("#graph_list").append('<br>');
                    // alert('add succ');
                  });
            }
          },

          });

          $('#tree1').treeview('collapseAll', { silent: true });
      });
	</script>


    </div>



</div>



{% endblock %}