{% extends 'base.html' %}
{% load mytags %}
{% load humanize %}

{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">


    <!-- new added -->
    <div class="row">

        <!-- ------------------------------------ -->
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                    <div class="ibox-tools">

                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>


                <div class="ibox-content ibox-heading">

                    <form class="">
                        <label>搜索类型</label>
                        <select id="findtype" name="findtype">
                            <option value ="copy file">复制文件</option>
                            <option value="asset_init" {% ifequal find_type "asset_init" %}selected="selected"{% endifequal %}>初始化</option>
                        </select>
                        <select id="finduser" name="finduser">
                            {% for user in users %}
                                <option value ="{{ user.username }}"
                                        {% if find_user %}
                                        {% ifequal find_user user.username %}selected="selected"{% endifequal %}
                                        {% else %}
                                        {% ifequal username user.username %}selected="selected"{% endifequal %}
                                        {% endif %}
                                        >
                                    {{ user.username }}
                                </option>
                            {% endfor %}

    {#                      <option value ="copy file">复制文件</option>#}
    {#                      <option value="asset_init" {% ifequal findtype "asset_init" %}selected="selected"{% endifequal %}>初始化</option>#}
                        </select>
                        <input type="submit"/>
                    </form>

                    <!--h3> 操作日志 </h3-->
{#                    <small><i class="fa fa-map-marker"></i> </small>#}
                </div>
                <div class="ibox-content">
                    <div>
                        <div class="text-left">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>操作人</th>
                                        <th>服务器ip</th>
                                        <th>操作名</th>
                                        <th>执行命令</th>
                                        <th>运行结果</th>
                                        <th>完成时间</th>
                                    </tr>
                                </thead>

                                {% for x in find_log_list %}
                                <tr>
                                    <td class="text-navy">{{x.user}}</td>
                                    <td class="text-navy">{{x.ip}}</td>
                                    <td class="text-navy">{{x.title}}</td>
                                    <td class="text-navy">{{x.cmd}}</td>
                                    <td class="text-navy">{{x.result}}</td>
                                    <td class="text-navy">{{ x.datetime|date:"Y-m-d H:i:s" }}</td>
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



</div>

<script>
    $(document).ready(function(){
        $('#show').click(function(){
            $('#show').css('display', 'none');
            $('#more').css('display', 'block');
        });

    });
</script>


{% endblock %}