{% extends 'base.html' %}
{% block content %}
{% load bootstrap %}
{% include 'nav_cat_bar.html' %}

{% block self_head_css_js %}
 <style>
     .not_show {display: none;}

 </style>
{% endblock %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 推送脚本设置（当前主机:{{asset.ip}}） </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">未启用 1</a>
                            </li>
                            <li><a href="#">未启用 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    {% if emg %}
                        <div class="alert alert-warning text-center">{{ emg }}</div>
                    {% endif %}
                    {% if smg %}
                        <div class="alert alert-success text-center">{{ smg }}</div>
                    {% endif %}


                    <form id="assetForm" method="post" class="form-horizontal">

                            <div class="form-group" >
                                <div class="hr-line-dashed"></div>
                                <label class="col-sm-2 control-label"> 选择模板<span class="red-fonts">*</span> </label>
                                <div class="col-sm-8">
                                    <select id="script_name" name="script_name" class="form-control m-b input-sm" onchange="change_info11()">
                                        <option value="">请选择一个脚本</option>
                                        {% for name in script_names %}
                                            {% ifequal name script_name %}
                                                <option value="{{name}}" selected> {{ name|slice:":40" }}</option>
                                            {% else %}
                                                <option value="{{name}}"> {{ name|slice:":40" }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                    <input id="asset_id" type="hidden" value="{{asset.id}}"/>
                                    <a id="load_tmpl_btn" class="btn btn-primary"> 加载模板 </a>
                                    <a id="del_tmpl_btn" class="btn btn-warning"> 删除此模板 </a>
                                    <span id="del_info" style="color:red;"> <span>
                                    <br>
                                    <br>

                                    <input id="new_tmpl_name" class="col-sm-3 m-b input-sm" type="text" value=""/>
                                    <a id="create_new_btn" class="btn btn-primary"> 新建模板名 </a>
                                    <span id="add_info" style="color:red;"> <span>

                                </div>
                            </div>


                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> 模板内容<span class="red-fonts">*</span> </label>

                            <div class="col-sm-8">
                                <textarea id="tmpl_content" class="form-control" rows="15"></textarea>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-1">
                                <a id="save_tmpl_btn" class="btn btn-success"> 保存模板 </a>
                            </div>
                            <div class="col-sm-2">
                                <a id="gen_target_script_btn" class="btn btn-primary"> 生成目标文件 </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> 生成内容 <span class="red-fonts">*</span> </label>

                            <div class="col-sm-8">
                                <textarea id="target_script_content" class="form-control" rows="15"></textarea>
                            </div>

                        </div>


                        <div class="form-group">

                            <div class="col-sm-4 col-sm-offset-5">
                                <!--button class="btn btn-white" type="submit"> 重置 </button-->
                                <a id="push_target_file_btn" class="btn btn-warning"> 确定推送到主机 </a>
                                <img id="loading_img" src="/static/img/loading.gif" class="not_show"/>

                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var required_fields = ["id_name"];
    required_fields.forEach(function(field) {
        $('label[for="' + field + '"]').parent().addClass("required");
    });

    $('#assetForm').validator({
        timely: 2,
        theme: "yellow_right_effect",
        fields: {
            "j_idc": {
                rule: "required",
                tip: "输入IDC名",
                ok: "",
                msg: {required: "IDC名必须填写!"},
                data: {'data-ok':"主机名可以使用", 'data-msg-required': '主机名已正确'}
            }
        },
        valid: function(form) {
            form.submit();
        }
    });

    //------------------------------------------
    // create new
    $("#create_new_btn").click(function(e) {
        var new_tmpl_name = $('#new_tmpl_name').val();

        $.get("{%url 'add_new_tmpl_name'%}?new_tmpl_name=" + new_tmpl_name, function(result){
            //alert(result);
            $("#add_info").html(result);
            location.reload();
        });

        return;
    });

    // del_tmpl_btn
    $("#del_tmpl_btn").click(function(e) {
        var script_name = $('#script_name').val();
        // alert(var_name);
        if (confirm('确定要删除此模板吗？')) {

        } else {
            return;
        }

        $.get("{%url 'del_tmpl_name'%}?script_name=" + script_name, function(result){
            alert(result);
            $("#del_info").html(result);
            location.reload();
        });

        return;
    });

    // 点击加载模板时
    $("#load_tmpl_btn").click(function(e) {
        var script_name = $('#script_name').val();
      $.get("{%url 'load_script_content'%}?script_name=" + script_name, function(result){
        // alert(result);
        $("#tmpl_content").val(result);
        // alert('add succ');
      });
        return;
    });

    // 保存模板
    $("#save_tmpl_btn").click(function(e) {
        var script_name = $('#script_name').val();
        var tmpl_content = $('#tmpl_content').val();
        if (script_name == '') {
            alert('模板name is empty !');
            return;
        }
        if (tmpl_content == '') {
            alert('模板 is empty !');
            return;
        }

        var params = {
            script_name: script_name,
            tmpl_content: tmpl_content,
        };
        $.post("{%url 'update_tmpl_content'%}", params, function(res){
            alert(res);
        });
    });

    // 生成目标的脚本文件
    $("#gen_target_script_btn").click(function(e){
        // alert('生成目标的脚本文件 ');
        var script_name = $('#script_name').val();
        var tmpl_content = $('#tmpl_content').val();
        var asset_id = $('#asset_id').val();
        var params = {
            asset_id: asset_id,
            script_name: script_name,
            tmpl_content: tmpl_content
        };

        $.post("{%url 'gen_target_content'%}", params, function(res){
            //alert(res);
            $('#target_script_content').val(res);
        });
    });

    // push
    $("#push_target_file_btn").click(function(e){
        var script_name = $('#script_name').val();
        var target_script_content = $('#target_script_content').val();
        var asset_id = $('#asset_id').val();
        var params = {
            asset_id: asset_id,
            script_name: script_name,
            target_script_content: target_script_content
        };

        $('#loading_img').removeClass('not_show');

        $.post("{%url 'push_target_content_to_host'%}", params, function(res){
            alert(res);
            // $('#target_script_content').val(res);
            $('#loading_img').addClass('not_show');
        });
    });



</script>

{% endblock %}